:root {
  --primary-font: "Roboto", sans-serif;
  --primary-background-color: #ffffff;
  --primary-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.link-header {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span {
  color: #2e2f42;
}
.link-address {
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}

.header.link {
  font-weight: 500;
}
.section-hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-hero {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
.title-section {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.secton-team {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
