:root {
  --primary-font: "Roboto", sans-serif;
  --primary-background-color: #ffffff;
  --primary-color: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.list-header {
  list-style: none;

  font-weight: 500;
  text-decoration: none;
  .link-header {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.link-header:hover,
.link-header:focus {
  color: #404bbf;
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
address {
  font-style: normal;
}
.link-address {
  letter-spacing: 0.02em;
  color: #434455;
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}

.header.link {
  font-weight: 500;
}
.section-hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-hero {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.list-benefits {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-benefits {
  letter-spacing: 0.02em;
}
.title-benefits {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #454425;
}
.description-benefits {
  line-height: 1.5;
  color: #434455;
}
.title-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.secton-team {
  background-color: #f4f4fd;
}
.title-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.list-team {
  background-color: #ffffff;
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-team {
  font-size: 16px;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.span-studio {
  color: #2e2f42;
}
.buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button-portfolio {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.list-row {
  list-style: none;
  text-decoration: none;
}
.title-row {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-row {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer.studio {
  color: #f4f4fd;
}
